/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: lightcoral;
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2%;
}

header {
    background-color: blanchedalmond;
    opacity: 60%;
    padding: 1px;
}

h1 {
    color: lightcoral;
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    letter-spacing: 5px;

}

ul {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    border: 3px solid blanchedalmond;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

p {
    color: lightcoral;
    font-style: italic;
    padding: 10px;
}

footer {
    background-color: blanchedalmond;
    opacity: 60%
}
